html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  padding: 1%;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}
#Map {
  height: 100%;
  width: 70%;
}
